{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{% static 'menu/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Itens</h1>
        <a href="{% url 'add_item' %}">Adicionar Novo Item</a>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.preco }}</td>
                    <td>{{ item.descricao }}</td>
                    <td><img src="{{ item.imagem.url }}" alt="{{ item.nome }}" width="100"></td>
                    <td>
                        <a href="{% url 'update_item' item.id %}">Editar</a> |
                        <a href="{% url 'delete_item' item.id %}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
